.accordion{
    background:whitesmoke;
    border:none;
    outline:none;
    width:100%;
    text-align:left;
    padding:18px;
    font-size:20px;
    cursor:pointer;
    transition:.4s linear;
}
.accordion:hover,
.active {
    background:#ccc;
}
.accordion::after{
    content:"\002B";
    float:right;
    font-size:20px;
    font-weight:bolder;
}
.active::after{
    content: "\2212";
}
.panel{
    font-size:17px;
    color:rgb(141, 141, 141);
    padding:0 20px;
    border:1px solid whitesmoke;
    border-top:0px;
    max-height:0;
    overflow-y:hidden;
    transition:max-height .2s ease-in-out;
}